.font_size_m-variable {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 1280px) {
  .font_size_m-variable {
    font-size: calc(18px - ((1280px - 100vw) * (4 / 960)));
  }
}

@media screen and (max-width: 320px) {
  .font_size_m-variable {
    font-size: 14px;
  }
}