.font_size_xl-variable {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

@media screen and (max-width: 1280px) {
  .font_size_xl-variable {
    font-size: calc(42px - ((1280px - 100vw) * (15 / 960)));
  }
}

@media screen and (max-width: 320px) {
  .font_size_xl-variable {
    font-size: 27px;
    line-height: 1.22;
  }
}