.profile__info-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  .profile__info-all {
    min-width: 100%;
    justify-content: space-evenly;
}
}


