.popup__submit-button {
  border: none;
  display: block;
  width: 100%;
  min-height: 50px;
  margin: 20px 0 0;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;


}

@media screen and (max-width: 1280px) {
  .popup__submit-button {
    min-width: calc(22px - ((1280px - 100vw) * (6 / 960)));
  }
}

.popup__submit-button:hover {
  background:rgba(0, 0, 0, 0.8);
  cursor: pointer;
}