.animation_type_open {
  animation-name: open;
  animation-duration: 2s;
  }
  
  
  @keyframes open {
    0% {
      display: none;
      opacity: 0;}
    100% {
      display: block;
      opacity: 1;}
    }