.profile__img-edit-button {
  min-width: 10px;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .profile__img-edit-button {
    min-width: calc(10px - ((1280px - 100vw) * (2.5 / 960)));
}
}

@media screen and (max-width: 320px) {
  .profile__img-edit-button {
    min-width: 7.5px;
  }
}