.profile__add-button {
  min-width: 150px;
  min-height: 49px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url('../../../images/add-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1280px) {
  .profile__add-button {
    background-size: calc(22px - ((1280px - 100vw) * (6 / 960)));
  }
}

@media screen and (max-width: 850px) {
  .profile__add-button {
    min-width: 100%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    background-size: 16px;
  }
}

