.profile__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 33px;
  min-height: 0;
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  .profile__profile-info {
    min-height: calc(0px - ((1280px - 100vw) * (-90 / 960)));
    margin-left: calc(33px - ((1280px - 100vw) * (33 / 960)));
  }
}

@media screen and (max-width: 320px) {
  .profile__profile-info {
    min-height: 90px;
    margin-left: 0;
  }
}
