.popup__close-button {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(0%, -100%);
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    transform: translate(-120%, -170%);
  }
}