.popup__title {
margin: 27px 0 44px;
font-weight: 900;
font-size: 24px;
line-height: 1.22;
}

@media screen and (max-width: 1280px) {
  .popup__title {
    margin-bottom: calc(44px - ((1280px - 100vw) * (-21 / 960)));
    font-size: calc(24px - ((1280px - 100vw) * (6 / 960)));
  }
}

@media screen and (max-width: 320px) {
  .popup__title {
    margin-bottom: 65px;
    font-size: 18px;
  }
}